body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

paragraph-container {
    margin: 20px auto;
    padding: 20px;
    border: 5px solid black;
}

text {
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
}
